{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | Gallery Grid {% endblock title %}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

  <div class="content justify-content-center">
    <div class="design-gallery p-0">
      <div class="design-list">
        <div class=""><a href="{% url 'mainapp-home' %}" class="fw-bold"><i class="bi bi-house-door-fill px-1"></i>Home</a> <a href="{% url 'galleryapp-gallery' %}" class="fw-bold px-1">&nbsp; > &nbsp; Gallery </a> <span class="text-secondary">&nbsp; > &nbsp; {{grid_categories.name}}</span></div>
      </div>
    </div>

    <div class="design-gallery p-0">
      <div class="design-list pb-3">
        <div class="primary-heading">{{grid_categories.name}}</div>
        <div class="dropdown d-md-none">
          <button class="btn dropdown-toggle" id="btn-info" type="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</button>
          <ul class="dropdown-menu p-2" id="year-list">
            {% for category in categories %}
              <li class="" id="list-group-item"><a class="dropdown-item nav-link m-2" href="{% url 'galleryapp-gridview' category.id %}">{{category.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="design-gallery row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="row">
          <div class="card border border-info m-0 collapse d-md-block">
             <div class="card-header text-center">Categories</div>
             <ul class="list-group list-group-flush" id="list-group">
              {% for category in categories %}
              <li class="list-group-item text-nowrap nav-text z-3">
                 <a class="nav-link" href="{% url 'galleryapp-gridview' category.id %}">{{category.name}}</a>
              </li> 
              {% endfor %}
             </ul>
          </div>
        </div> 
      </div>
 
      <div class="col-lg-10 col-md-8">
        <div class="row" id="sns-album">
          {% for item in page_obj %}
          <div class="col-lg-3 col-md-6 col-sm-6"> 
            <div class="sns-album ms-3 mb-3">
              <a href="{% url 'galleryapp-photo' item.category.id item.id %}" class="text-white">
                <div class="profile-cover">
                  <img class="image-thumbnail w-100" src="{{item.image.url}}" alt="picture here..."/>
                </div>
                <div class="album-text" id="gallery-view">
                  <div class="album-text-title">{{item.description}}</div>
                </div>
              </a>
            </div>
          </div>
          {% empty %}
            <div class="text-center m-5"><h3>No Photos Uploaded....</h3></div>
          {% endfor %} 
        </div>

        <br>
        <div class="text-center">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo Prev</a>
          {% endif %}
           
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &raquo</a>
          {% endif %}
        </div>
        <br>  
          
      </div>
    </div>
  </div>      
{% endblock content %}