 <!-- footer Start -->
 <footer >
  <div class="foot">
    <div class="foot-top text-center">
      <div class="d-flex footer row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div>
                <div class="foot-title">
                    <h5>Srijansil Nepali Samaj</h5>
                    <div>सृजनशील नेपाली समाज</div>
                </div>
                <div class="foot-menu-sub">
                    <ul>
                        <li><a href="{% url 'aboutapp-about' %}">About</a></li>
                        <li><a href="{% url 'contactapp-donate' %}">Donate</a></li>
                        <li><a href="{% url 'contactapp-member' %}">Membership</a></li>
                        <li><a href="{% url 'galleryapp-gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'aboutapp-terms' %}">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div>
            <div class="foot-title">
              <h5>Contact Us</h5>
            </div>
            <div class="foot-contact-sub pt-4 m-2">
              <div class="mail-address mb-2"><a href="mailto:srijansilnepalisamaj@gmail.com">srijansilnepalisamaj@gmail.com</a></div>
              <div class="phone"><a href="tel:+1 6473306132">+1 6473306132</a></div>
              <div class="nepali-calendar">
                <canvas id="canvas" width="60" height="60" style="background-color:#333">
                  Sorry, your browser does not support canvas.
                  </canvas>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div>
            <div class="foot-title">
              <h5>Address</h5>
            </div>
            <div class="foot-address-sub pt-4 m-2">
              <div class="address-detail"><a href="https://www.google.com/maps/place/Scarborough,+ON+M1M+3R9/@43.7382345,-79.2219392" target="_blank" class="el-tooltip map" aria-describedby="el-tooltip-2642" tabindex="0">1508 - 2152 Lawrence Ave East</a><br> Scarborough <br> Ontario <br> M1R 0B5</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="foot-base">
      <div>
        <div class="social flexer">
          <p>Stay Connected:</p>
          <div class="media-icon">
            <div><a href="https://www.facebook.com/profile.php?id=100011255974992" target="_blank"><i class="bi bi-facebook"></i></a></div>
            <div><a href=""><i class="bi bi-linkedin"></i></a></div>
            <div><a href=""><i class="bi bi-twitter-x"></i></a></div>
          </div>
        </div>
      </div>
      <div class="copy-right flexer text-center">
        <div><p>© Copyright SNS Canada <span>2024</span> . All rights reserved | Designed & developed by <span><a href="mailto:ramtel.badri@gmail.com">Alphatech Solution Pvt. Ltd.</a></span></p></div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End --> 