{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | Executive Committees {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

  <div class="content">
    <div class="gallery-page">
        <div class="design-list pb-3">
          <div class="primary-heading">Executive Committee</div>
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Years</button>
            <ul class="dropdown-menu" id="year-list">
              {% for items in committee %}
                <li><a class="dropdown-item" href="{% url 'teamapp-team' %}?member={{items.year_frame}}">{{items.year_frame}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
    <div class="gallery-page">
      <div class="form-quote mx-3">
        {% for item in quote %}
          <p class="fs-3">{% if forloop.counter == 1 %} {{item.submenu}} {% endif %}</p> 
        {% endfor %}
        <p>SNS team is comprised of talented and experienced individuals who work together with core values, hard work, and trust. We sincerely enjoy the work we do, and our community gets to reap the benefits.</p>
      </div>
    </div>

    <div class="design">
      <div class="col-12">
        <div class="row">
          {% for item in page_obj %}
          <div class="col-md-3 col-sm-6 m-0 p-0">
            <div class="album">
              <a href="{% url 'teamapp-viewcommittee' item.id %}">
                <div class="profile-cover">
                  <img class="object-fit-cover w-100" src="{{item.profile_pic.url}}" alt="picture here..."/>
                </div>
                <div class="text-center">
                  <div class="album-text-title text-info p-2"><h6>{{item.name}}</h6></div>
                  <div class="album-text-title">{{item.position}}</div> 
                  {% comment %} <div class="album-text-title">&lpar;{{item.start_date | date:"Y"}}-{{item.end_date | date:"Y"}}&rpar;</div> {% endcomment %}
                </div>
              </a>
            </div>
          </div>
            {% empty %}
              <div class="text-center m-5"><h3>No Executive Member Available....</h3></div>
          {% endfor %}  
        </div>

        <br>
        <div class="text-center">
          {% if page_obj.has_previous %}
            {% comment %} <a href="?page=1"> &laquo First </a> {% endcomment %}
            <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
          {% endif %}
          page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% comment %} <a href="?page={{page_obj.paginator.num_pages}}">Last &raquo </a> {% endcomment %}
          {% endif %}
        </div>
        <br>
      </div>
    </div>
  </div>      

{% endblock content %}