{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | View Committee {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

<div class="content">
  <div class="gallery-page">
    <div class="design-list ">
      <div class="primary-heading text-uppercase">{{community.position}}</div>
      <div><a href="{% url 'teamapp-team'%}" class="btn btn-secondary px-4">Back</a></div>
    </div>
  </div>

  <div class="design">
    <div class="external-design border border-4 rounded">
      <div class="inner-design bg-info-subtle text-info-emphasis">
        <div class="">
          <img class="img-fluid img-thumbnail object-fit-fill border rounded w-100" src="{{community.profile_pic.url}}" alt="Sorry No Picture Available currently..."/>
        </div>
        <div><p class="fs-4 p-2 text-center">{{community.name}}</p></div>
        <div class="d-flex">
          <div class="my-2 ms-2 location"><h3><span>*</span><u>Biography</U>&nbsp;<i class="bi bi-person-circle"></i></h3></div>
           <div>
            <table class="text-start fs-5 mx-4">
              <tr>
                <td class="fw-bold">Position :</td>
                <td>{{community.position}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Address :</td>
                <td>{{community.address}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Education :</td>
                <td>{{community.education}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Profession :</td>
                <td>{{community.profession}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Email :</td>
                <td><a href="mailto:{{community.email}}">{{community.email}}</a></td>
              </tr>
          </table>
           </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock content %}