{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | About SNS {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

  <div class="content">
    <div class="design">
      
      <div class="content-left">
        <div>
          <div class="about-content">
            <div class="primary-heading">About SNS</div>
            <div>
              <div class="pt-2 sub-heading">About SNS</div>
              <div class="about-content">
                {% for item in abo %}
                  {{item.about_content | safe}} <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        {% include 'core/sidebar.html' %} 
      </div>

    </div>
  </div>
{% endblock content %}