{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | Terms & Condition {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

  <div class="content">
    <div class="design">

      <div class="content-left">
        <div>
          <div class="about-content">
            <div class="primary-heading">Terms and Condition</div>
            <div>
              <div class="pt-2 sub-heading">SNS Community Terms of Use</div>
                <div class="card py-3" style="width: 30rem;">
                  <div class="img-size">
                    <img src="{% static 'images/terms.jpg' %}" class="card-img-top" alt="...">
                  </div>
                </div>
                <div class="about-content">
                  {%for items in ter %}
                    {{items.term_content | safe}} <br>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        {% include 'core/sidebar.html' %}
      </div>

    </div>
  </div>
{% endblock content %}