{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | Vision {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

  <div class="content">
    <div class="design-gallery row">
      
      <div class="col-lg-8 col-md-8 col-sm-12 px-3">
        <div class="mx-3 pb-2"><a href="{% url 'mainapp-home' %}" class="fw-bold"><i class="bi bi-house-door-fill px-1"></i>Home</a> <span class="text-secondary">&nbsp; > &nbsp; Vision</span></div>
        <div>  
          <div class="about-content m-3">
            <div class="primary-heading">Vision</div>
            <div>
              <div class="pt-2 sub-heading fw-bold">Our Vision, Mission, and Objectives</div>
              <div class="about-content">
                {% for item in vis %}
                  {{item.vision_content | safe}} <br>
                {% endfor %}  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 px-3">
        {% include 'core/sidebar.html' %}
      </div>
      
    </div>
  </div>
{% endblock content %} 