{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | Vision {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->

  <div class="content">
    <div class="design">
      
      <div class="content-left">
        <div>  
          <div class="about-content">
            <div class="primary-heading">Vision</div>
            <div>
              <div class="pt-2 sub-heading">Our Vision, Mission, and Objectives</div>
              <div class="about-content">
                {% for item in vis %}
                  {{item.vision_content | safe}} <br>
                {% endfor %}  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        {% include 'core/sidebar.html' %}
      </div>
      
    </div>
  </div>
{% endblock content %}