{% extends 'core/base.html' %}
{% load static %}
{% block title %} SNS Canada | Membership {% endblock title%}

{% block content %}
  <!-- dummy start -->
  <div class="dummy">

  </div>
  <!-- dummy end -->


  <!-- Content-1 Start -->
  <div class="content">
    <div class="design-gallery row">
      <div class="col-md-8 col-sm-12 p-3">
        <div class="mx-2 pb-2"><a href="{% url 'mainapp-home' %}" class="fw-bold"><i class="bi bi-house-door-fill px-1"></i>Home</a> <span class="text-secondary">&nbsp; > &nbsp; Membership</span></div>
        <div>
            <div class="about-content px-2">
              <div class="primary-heading">Membership</div>
              <div> 
                <div class="my-3">
                  <p class="text-secondary fw-bold">Membership</p>
                  {% for item in ins %}
                  {% if forloop.revcounter == 1%}
                    <p class="text-secondary">{{item.instruct | safe}}</p>
                  {% endif %}
                  {% endfor %}
                </div>

                <div class="messenger">
                  {% for msg in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                      {{msg}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                </div>
 
                <div class="contact-form">
                    <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
                      {% csrf_token %}
                        <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
                          <h5>Membership Form</h5>
                        </div>
                        <hr>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="fname" class="form-label required">First Name</label>
                          <input type="text" class="form-control" name="fname" id="fname" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="lname" class="form-label required">Last Name</label>
                          <input type="text" class="form-control" name="lname" id="lname" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="email" class="form-label required">Email</label>
                          <input type="email" class="form-control" name="email" id="email" required>
                        </div>

                        <div class="col-12 p-2">
                          <div class="col-lg-5 col-md-5 col-sm-12">
                            <label for="contact" class="form-label required">Contact Number</label>
                            <div class="input-group mb-3">
                              <input type="tel" maxlength="12" minlength="7" class="form-control" name="contact" id="contact" required>
                            </div>
                          </div>
                        </div>
              
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="address1" class="form-label required">Address 1</label>
                          <input type="text" class="form-control" name="address1" id="address1" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="address2" class="form-label">Address 2</label>
                          <input type="text" class="form-control" name="address2" id="address2">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="city" class="form-label required">City</label>
                          <input type="text" class="form-control" name="city" id="city" required>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="province" class="form-label required">Province</label>
                          <input type="text" class="form-control" name="province" id="province" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                          <label for="pcode" class="form-label required">Postal Code</label>
                          <input type="text" class="form-control" name="pcode" id="pcode" required>
                        </div>
          
                        <div class="col-12 p-2">
                          <fieldset class="row mb-3">
                              <legend for="membership" class="col-form-label col-sm-3 pt-0 required">Membership Type</legend>
                              <div class="col-sm-9">
                                {% for item in member_type %}
                                <div class="form-check">
                                  <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="membership" value="{{item.type}}" checked>
                                    {{item.type}}
                                  </label>
                                </div>
                                {% endfor %}
                              </div>
                            </fieldset>
                        </div>
          
                        <div>
                          <div class="mb-3 p-2">
                              <label for="screenshot" class="form-label required">Screenshot of payment</label>
                              <input class="form-control" type="file" name="screenshot" id="screenshot" required>
                          </div>
                        </div>
                        
                        <div class="col-12 p-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tpcheck" required>
                            <label class="form-check-label required" for="tpcheck">
                              I have read and accepted the <a href="#">Terms of Use and Privacy Policy.</a>
                            </label>
                          </div>
                        </div>
          
                        <div class="col-12 p-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="encheck">
                            <label class="form-check-label" for="encheck">
                              SNS may keep me informed via email about events and newsletters.
                            </label>
                          </div>
                        </div>
                        
                        <div class="col-12 p-2">
                          <button type="submit" class="btn btn-success mb-3">Submit</button>
                        </div>
              
                    </form>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 px-3">
        {% include 'core/sidebar.html' %}
      </div>
      
    </div>
  </div>
 <!-- Content-1 End -->

{% endblock content %}